.details-container{
    background:linear-gradient(0deg, rgba(211, 205, 208, 0.151), rgba(60, 68, 65, 0.377)), url(../../images/chair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.details-card{
    width: 25%;
    margin: 100px 0;
    border: 1px solid white;
  }

  @media only screen and (max-width:688px) {
    .details-container{
        border: 0px;
    }
    .details-card{
        margin: 0;
        border: none;
      width: 75%;
    }
  
  }