.footer{
    position: relative;
    padding: 10px 0;
}
.footer-container{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width:688px) {
    .footer-container{
      grid-template-columns: repeat(1, 1fr);
    }
  
  }