.App {
  text-align: center;
}

.navbar, .footer, .add{
  background-color: #04679c;
}

.section-title{
  font-size: 48px;
  color: #3c9fd8;
  margin: 50px 0px;
}
.orange{
  color: orange;;
}

.form-bg{
  background-image:linear-gradient(0deg, rgba(233, 225, 229, 0.151), rgba(240, 245, 243, 0.555)), url(./images/chair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive mobile variant  */
@media only screen and (max-width:688px) {
  .banner-text{
      width: 100%;
  }
  .details-card{
    width: 100%;
  }
  .footer-container{
    grid-template-columns: repeat(1, 1fr);
  }

}